.homepage-wrapper {
  /* display: flex; */
  position: relative;
  /* top: 0;
  bottom: 0; */
  /* left: 0;
  right: 0; */
  /* position: absolute; */
  /* justify-content: space-around; */
  /* align-items: center;*/
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* border: 5px solid black; */
  /* min-height: 100%; */
  /* min-width: 100%; */
  width: 100%;
  height: 100vh;
  /* z-index: -1; */
  /* background: #68a2e1;
  background: -webkit-linear-gradient(to right, #28188c, #000001);
  background: linear-gradient(to right, #010104, #28188c); */
}

.title {
  /* color: white; */
  display: flex;
  /* flex-direction: column; */
  /* position: absolute; */
  align-items: center;
  justify-content: center;
  /* left: 150%; */
}

.photo-size {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.row {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 80%;
  height: 100%; */
}
/*
.pet-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 20px;
  width: 200px;
  height: 200px;
} */

.display {
  display: flex;
  /* flex: 1; */
  /* justify-content: space-around; */
  /* align-items: center; */
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
}

.inner-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 300px;
  height: 300px; */

  border-radius: 20px;
  border: 3px solid black;
}
