#large-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  flex-wrap: no-wrap;
}

.picture {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.photo-size {
  /* display: flex;
  justify-content: space-evenly; */
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
}

.inner-display {
  display: flex;
  justify-content: space-evenly;
  /*align-items: center;
  flex-wrap: wrap; */
  /* width: 300px;
  height: 300px; */

  border-radius: 20px;
  border: 3px solid black;
}

.text {
  color: white;
  display: flex;
}
