.eventpage-wrapper {
  /* display: flex; */
  /* border: 2px solid black;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; */
  width: 100%;
  height: 100vh;
  /* max-height: 100%; */
  background: -webkit-linear-gradient(to right, #b3d9f5, #f5f5f9);
  background: linear-gradient(to right, #81bfee, #152ac9);
}

.event-title {
  display: flex;
  justify-content: center;
  margin-top: -120px;
  font-family: "Reggae One", cursive;
  font-size: 50px;
  color: rgb(214, 245, 57);
}
.slider {
  position: relative;
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: center;
}

.pet-image-div {
  margin-left: 100px;
  /* margin-top: 20px; */
  margin-right: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 7px solid orange;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);

  background-position: center;
}

.spacer-div {
  padding-bottom: 20px;
}

.slider-box {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  align-items: center;
}

.image {
  width: 250px;
  height: 300px;
  object-fit: cover;

  border-radius: 10px;
  border: 2px solid black;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 200px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 200px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image-slide-div {
  width: 15%;
  height: 25%;
  border: 1px solid black;
}

.view-slider {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
