.pet-growth-wrapper {
  display: grid;
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  background: -webkit-linear-gradient(to right, #b3d9f5, #f5f5f9);
  background: linear-gradient(to right, #81bfee, #152ac9);
}

.pet-growth__grid {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "box12 . box13"
    "box14 addData box15";
  /* grid-gap: px; */
}

.box12 {
  grid-area: box12;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 7px solid orange;
  background-position: center;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
}

.box13 {
  grid-area: box13;
  transform: translate(-155px, 65px);
  height: 150px;
  font-family: "Reggae One", cursive;
  font-size: 65px;
  text-shadow: 4px 2px #111010bb;
  color: rgb(214, 245, 57);
}
.box14 {
  grid-area: box14;
  position: relative;
  /* align-content: flex-end; */

  margin-left: 6.8rem;
  height: 390px;
  width: 700px;
  background-color: rgb(199, 195, 195);
  border: 2px solid red;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);

  border-radius: 5px;
  transform: translate(10px, -55px);
}
.box15 {
  grid-area: box15;
  position: relative;
  /* align-content: flex-end; */

  /* margin-left: 2rem; */
  height: 390px;
  width: 700px;
  background-color: rgb(199, 195, 195);
  border: 2px solid red;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);

  border-radius: 5px;
  transform: translate(10px, -55px);
}
.addData {
  grid-area: addData;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 390px;
  transform: translate(65px, -55px);
}

.fa-balance-scale-right {
  /* margin-top: 10px; */
  margin: 0px 2px 10px 4px;
  color: rgb(148, 9, 9);
  font-size: 25px;
  cursor: pointer;
}

.add-title {
  font-family: "Montserrat", sans-serif;
  color: rgb(148, 9, 9);
}
