.pet-appt-wrapper {
  display: grid;
  min-height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(to right, #b3d9f5, #f5f5f9);
  background: linear-gradient(to right, #81bfee, #152ac9);
}

.pet-appt__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "box16 box17"
    "box18 box19";
}

.box16 {
  grid-area: box16;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 20px;

  height: 200px;
  width: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 7px solid orange;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);

  background-position: center;
}

.box17 {
  grid-area: box17;
  /* border: 2px solid green; */
  margin-top: 60px;
  text-align: center;
  height: 150px;
  transform: translateX(-105px);
  font-family: "Reggae One", cursive;
  font-size: 40px;
  text-shadow: 4px 2px #111010bb;
  color: rgb(214, 245, 57);
}
.box18 {
  grid-area: box18;
  height: 300px;
  width: 500px;
  transform: translate(210px, 175px);
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 5px;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abacd4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(rgb(238, 238, 238) 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0);
  z-index: 0;

  border: 2px solid yellow;
}
.box19 {
  grid-area: box19;
  height: 585px;
  width: 700px;
  border-radius: 3px;
  border: 4px solid red;
  background-size: 100px 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0);

  /* background-color: red; */
}

/* .box20 {
  margin-bottom: 380px;
  margin-top: -400px;
  margin-left: 10px;

  border: 2px solid blue;
} */
