.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 40px;
  align-items: center;
  flex-direction: row-reverse;
}

.footer__links a {
  color: rgba(214, 245, 57, 0.739);
}

.footer__links a:hover {
  color: rgba(245, 245, 245, 0.609);
}
.footer__links * {
  margin: 10px;
}
