* {
  box-sizing: border-box;
}
.page-container {
  background: -webkit-linear-gradient(to right, #b3d9f5, #f5f5f9);
  background: linear-gradient(to right, #81bfee, #152ac9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;

  min-height: 100vh;
}

.login-title {
  color: #fff;
  font-family: "Reggae One", cursive;
  font-size: 48px;
  color: rgb(214, 245, 57);
  text-shadow: 4px 2px #111010bb;
  padding-bottom: 20px;
}

.container {
  /* background-color: #fff; */

  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  /* overflow: hidden; */
  width: 768px;
  /* max-width: 100%; */
  min-height: 480px;
  /* margin-top: 90px; */
}

.container::after {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 15%
  );
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0px;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 385px;
  /* right: 30px; */
  width: 50%;
  /* opacity: 0; */
  /* z-index: 1; */
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.buddy:active {
  transform: scale(0.95);
}
.buddy:focus {
  outline: none;
}
.buddy .ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #68a2e1;
  background: -webkit-linear-gradient(to right, #000001, #28188c);
  background: linear-gradient(to right, #000001, #28188c);
  background: rgba(255, 255, 255, 0.1);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.buddy {
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #6a9ddc8e;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.buddy:active {
  transform: scale(0.95);
}

.buddy:focus {
  outline: none;
}

.buddy .ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 12%;
  width: 75%;

  /* border: 2px solid black; */
}
