.form-container__sign-in {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signin-title {
  color: #fff;
  /* font-family: "Montserrat", sans-serif; */
}
.or-this {
  color: #fff;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.social-signin {
  margin: 20px 0;
}

.social-signin .social-fb {
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  margin: 0 5px;
  height: 40px;
  width: 200px;
}

.fa-facebook-f {
  color: white;
}

.social-goog {
  border: 1px solid #dddddd;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  margin: 0 5px;
  height: 40px;
  width: 200px;
}

.fa-google-plus-g {
  color: white;
}
.form__sign-in {
  /* background-color: #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.username-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.password-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
/* 
.login-title {
  font-size: 5rem;
} */

.shadow {
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #6a9ddc8e;
  margin-top: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

/* .buddy .ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.buddy .shadow {
  background-color: transparent;
  border-color: #fff;
}
.buddy:active {
  transform: scale(0.95);
}

.buddy:focus {
  outline: none;
} */

.page-container {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.form-container {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

/* .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
} */

.tag {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

/* .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
} */

/* .sign-in-button {
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: #6a9ddc8e;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
} */

/* .buddy:active {
  transform: scale(0.95);
}
.buddy:focus {
  outline: none;
}
.buddy .ghost {
  background-color: transparent;
  border-color: #ffffff;
} */
