.caption-input {
  margin-top: 30px;
}

.addEvent__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(196, 229, 240);
  border-radius: 20px;
  /* width: 400px;
  height: 500px; */
  padding: 0 50px;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.event-image-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  /* background-color: pink; */
  border: 3px solid rgb(116, 102, 102);
  margin-bottom: 10px;
  z-index: 1;
}
.fa-camera {
  font-size: 170px;
  color: rgba(196, 185, 185, 0.351);
  z-index: 1;
  cursor: pointer;
}
