.med-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
  /* border: 1px solid black; */
}

.dosage-input {
  width: 90px;
}

.med-input input {
  /* width: 200px; */
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 5px;
  /* width: 75px; */
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.med-input select {
  width: 65px;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #000000;
  /* background-color: #6a9ddc8e; */
  color: gray;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 5px;
  width: 75spx;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
