.pet-health-wrapper {
  /* display: grid; */
  /* width: 100%; */
  height: 100vh;
  background: -webkit-linear-gradient(to right, #b3d9f5, #f5f5f9);
  background: linear-gradient(to right, #81bfee, #152ac9);
}

.pet-health__grid {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: 13% 42% 45%;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "box7 . box8"
    " . box9 box10";
  /* grid-gap: px; */
}

.box7 {
  grid-area: box7;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 7px solid orange;
  background-position: center;
  box-shadow: 0 7px 18px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);

  /* border-radius: 50px; */
}
.profile-petpic {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.box8 {
  grid-area: box8;
  transform: translate(-155px, 65px);
  height: 150px;
  font-family: "Reggae One", cursive;
  font-size: 65px;
  text-shadow: 4px 2px #111010bb;
  color: rgb(214, 245, 57);
}

.fa-folder-plus {
  font-size: 32px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-shadow: 1px 1px black;
  color: rgb(223, 175, 73);
}

.box9 {
  grid-area: box9;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    ". vac-title vac-modal "
    ". vac-list1 .";
  height: 450px;
  width: 500px;
  transform: translateY(155px);
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 5px;

  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 120% 1.8em;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0);
}
.vac-modal {
  grid-area: vac-modal;
  display: flex;
  justify-content: flex-end;
  padding: 8px 15px;
  /* border: 1px solid springgreen; */
}

.vac-title {
  grid-area: vac-title;
  font-family: "Reggae One", cursive;
  text-shadow: 4px 2px #111010bb;
  font-size: 33px;
  color: rgb(214, 245, 57);
  padding-top: 5px;
  color: rgb(214, 245, 57);
  display: grid;
  justify-content: center;

  /* border: 1px solid green; */
  /* z-index: 1; */
}

.vac-list1 {
  grid-area: vac-list1;
  /* border: 1px solid purple; */
  transform: translate(15px, 5px);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 33px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
}

.box10 {
  grid-area: box10;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    ". med-title med-modal "
    ". med-list1 .";
  transform: translateY(155px);

  /* margin-bottom: -500px; */
  height: 450px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 5px;

  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 120% 1.8em;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0);
}

.med-list1 {
  grid-area: med-list1;
  /* border: 1px solid purple; */
  transform: translate(15px, 5px);
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 33px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
}

.med-title {
  grid-area: med-title;
  font-family: "Reggae One", cursive;
  text-shadow: 4px 2px #111010bb;
  font-size: 33px;
  color: rgb(214, 245, 57);
  padding-top: 5px;

  display: grid;
  justify-content: center;
}

.med-modal {
  grid-area: med-modal;
  display: flex;
  justify-content: flex-end;
  padding: 8px 15px;
  /* border: 1px solid springgreen; */
}
