.profile-dropdown {
  position: absolute;
  top: 8px;
  left: 80px;
  list-style: none;
  font-size: 9px;
  width: 200px;
  height: 78spx;
  background-color: rgb(167, 187, 192);
  border: 2px solid rgb(253, 253, 253);
  border-radius: 50px 30px 30px 2px;
  box-shadow: 4px 2px #111010af;
  padding: 5px 5px;

  /* color: yellow; */
}

.profile-dropdown li {
  font-size: 0.6rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;

  color: black;
}

.logout-button {
  margin-top: 10px;
  border: 0.5px solid blue;
  border-radius: 5px;
  background-color: rgba(107, 181, 250, 0.692);
  width: 70px;
  height: 25px;
  font-family: "Montserrat", sans-serif;
}

.fa-user-circle {
  font-size: 40px;
  cursor: pointer;
}

.fa-user-circle:hover {
  color: orange;
  /* transition: 0.5s; */
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
